.addCommentForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.addCommentForm input {
    border: 1px solid #6B46C1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 60%;
}

.addCommentForm button {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    width: 30%;
    background-color: #a883f0;
    color: white;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}