.commentItem{
    color: grey;
    border-bottom: 1px dashed gray;
    margin: 5px;
    position: relative;
}

.deleteCommentIcon{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: small;
    cursor: pointer;
}

.deleteCommentIcon:hover{
    color:red;
}

.textComment{
    width: 97%;
}